body {
    background-image: url(../images/windows11-default-wallpaper-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
    width: 1280px;
    margin: 0;
    flex-direction: column;
}

.hora {
    font-size: 100px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


.data {
    font-size: 24px;
    color: #ffffff;
    margin-top: 10px;
}

.tela-surgente{
    opacity: 0;
    animation: surgir 3s ease-in-out forwards;
}